<!-- Todo Section -->
<section id="todo" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-heading">Actions todo...</h3>
                <dl>
                    <dd>Tidy UI</dd>
                    <dd>More Unit Tests</dd>
                    <dd>Allow Computer vs Computer via UI</dd>
                    <dd>Check with business if Tactical rules should be appdded across multiple games</dd>
                    <dd>Allow DB migration</dd>
                    <dd>Add Futures to DB calls for better performance</dd>
                    <dd>Enums to tables (maybe via seeding)</dd>
                    <dd>Add Service Worker for offline use.</dd>
                    <dd>Re-Use players to save DB space.</dd>
                    <dd>Agree and Fix PlayerType issue (Model vs DB).</dd>
                    <dd>Add better error handling.</dd>
                    <dd>Tidy Javascript.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>