<!-- Work Section -->
<section id="work" class="bg-warning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-heading">The work done and how long it took...</h3>

                <dl>
                    <dt>Initial Project Setup</dt>
                    <dd>3 hours</dd>
                    <dt>Improving Data Access and Model</dt>
                    <dd>4 hours</dd>
                    <dt>Added Logic layer and computer selection, Individual players per game to allow better tactical choices,</dt>
                    <dd>4 hours</dd>
                    <dt>Added Game and Match Result logic</dt>
                    <dd>3 hours</dd>
                    <dt>Unit Tests</dt>
                    <dd>3 hours</dd>
                    <dt>Tidy UI</dt>
                    <dd>4 hours</dd>
                    <dt>Testing and tidying</dt>
                    <dd>2 hours</dd>
                </dl>
            </div>
        </div>
    </div>
</section>