@{
    ViewData["Title"] = "Todo List";
}
<h2>@ViewData["Title"]</h2>


<p>This page describes actions todo.</p>

<ul>
    <li>Implement Game Play Logic</li>
    <li>Tidy UI</li>
    <li>Unit Tests</li>
    <li>Allow Computer vs Computer via UI</li>
    <li>Check with business if Tactical rules should be applied across multiple games</li>
</ul>