@{
    ViewData["Title"] = "Work log";
}
<h2>@ViewData["Title"]</h2>

<p>This page describes the work done and how long it took.</p>

<dl>
    <dt>Initial Project Setup</dt>
    <dd>3 hours</dd>
    <dt>Improving Data Access and Model</dt>
    <dd>4 hours</dd>
    <dt>Added Logic layer and computer selection, Individual players per game to allow better tactical choices,</dt>
    <dd>4 hours</dd>
    <dt>Added Game and Match Result logic</dt>
    <dd>3 hours</dd>
</dl>